<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/main.html}"
      lang="en">
<title th:text = "#{label.RegTitle}"></title>

<div layout:fragment="header">
    <section class="banner-area text-center" style="background-color: whitesmoke; background-image: none">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form action="/register" method="post">
                        <p th:text = "${error}" style="color: red"> </p>
                        <input th:value="${save_email}"
                               type="email"
                               name="user_email"
                               placeholder="Email"
                               onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Enter email address'" required
                               style="
                                        width: 50%;
                                        border: 1px solid #eee;
                                        padding: 12px 20px;
                                        margin-bottom: 20px">
                        <br>
                        <input th:value="${save_name}"
                               type="text"
                               name="user_name"
                               placeholder="Full name"
                               onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Enter full name'" required
                               style="
                                        width: 50%;
                                        border: 1px solid #eee;
                                        padding: 12px 20px;
                                        margin-bottom: 20px">
                        <br>
                        <input type="password"
                               name="user_password"
                               placeholder="Password"
                               onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Enter password'" required
                               style="
                                        width: 50%;
                                        border: 1px solid #eee;
                                        padding: 12px 20px;
                                        margin-bottom: 20px">
                        <br>
                        <input type="password"
                               name="user_rePassword"
                               placeholder="Repeat password"
                               onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Repeat password'" required
                               style="
                                        width: 50%;
                                        border: 1px solid #eee;
                                        padding: 12px 20px;
                                        margin-bottom: 20px">
                        <br>
                        <span style="padding-right: 13%">
                        <a th:text="#{label.login}" type="submit" class="template-btn" th:href="@{'/login'}"></a>
                        </span>
                        <span style="padding-left: 13%">
                        <button th:text="#{label.registration}" type="submit" class="template-btn"></button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</html>
