<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/main.html}"
      lang="en">

<title th:text = "#{label.ChangePassword}"></title>


<div layout:fragment="header">
    <section class="banner-area text-center" style="background-color: whitesmoke; background-image: none">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form th:action="@{'/changePassword'}" method="post">
                        <p th:text = "${error}" style="color: red"> </p>
                        <input type="password"
                               name="oldPassword"
                               placeholder="Old Password"
                               onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Old Password'" required
                               style="
                                        width: 50%;
                                        border: 1px solid #eee;
                                        padding: 12px 20px;
                                        margin-bottom: 20px">
                        <br>
                        <input type="password"
                               name="password"
                               placeholder="New Password"
                               onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'New Password'" required
                               style="
                                        width: 50%;
                                        border: 1px solid #eee;
                                        padding: 12px 20px;
                                        margin-bottom: 20px">
                        <br>
                        <input type="password"
                               name="rePassword"
                               placeholder="Repeat New Password"
                               onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Repeat New Password'" required
                               style="
                                width: 50%;
                                border: 1px solid #eee;
                                padding: 12px 20px;
                                margin-bottom: 20px">
                        <br>
                        <button type="submit" class="template-btn">Change</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</html>
